.modal-screen{
    display: flex;
    justify-content: center;
    background: rgba(24,25,26,.8);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
}