.score-button {
  font-weight: normal;
}

.score-button-selected {
  font-weight: 900;
}

.small-photo {
  break-inside: avoid;
  margin-bottom: 3vh;
  img {
    width: 100%
  }
  border: 3px solid rgb(66, 66, 66);
  width: 30vw;
}